.tables{
    
    border-collapse: collapse;
}
td, tr {
    width: 150px;
    height: 150px;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(184, 9, 228);
    margin: 5px;
    cursor: pointer;
    color:rgb(138, 31, 238);
    box-shadow: 3px 4px 1px 2px rgba(210, 79, 214, 0.1);
    text-shadow: 2px 3px  1px rgba(136, 86, 125, 0.3);
    user-select: none;
    font-weight: bold;
}